<div *ngIf="nft" class="relative w-17rem border-round-2xl m-3 bg-black-alpha-40 transition-duration-400 cursor-pointer" [ngClass]="!imgFull ? 'card' : ''" routerLink="nft/{{nft.id}}">
    <div class="img-area w-full" [ngClass]="imgFull ? 'h-15rem' : 'h-13rem'">
        <img [src]="nft.img_url" class="w-full h-full border-round-top-2xl" [ngStyle]="{objectFit: 'cover'}">
    </div>
    <h1 class="text-2xl text-100 py-2 text-center">{{nft.name}}</h1>
    <p class="text-xl text-gray-50 pl-2 mb-1">Valor: {{nft.price | currency : 'BRL'}}</p>
    <p class="text-xl text-gray-50 pl-2 pb-2">Qtd: {{nft.qtd}} disponíveis</p>
    <p *ngIf="false">Postado em: {{nft?.date | date: 'd/MM/yy'}} às {{nft?.date | date : 'h:mm a'}}</p>
    <div *ngIf="nft.comment!.length > 0" class="absolute flex justify-content-center align-items-center w-2rem h-2rem text-xl text-white bg-red-500 border-circle" [ngStyle]="{top: '-1rem', right: '-1rem'}">{{nft.comment!.length}}</div>
</div>