.message{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    background-color: aliceblue;
    z-index: 99;
    padding: 2rem;
    box-shadow: 0 0 4px #2d9999;
    border: 1px solid #2d9999;
}

.msg-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
    font-size: 2.7rem;
}

span{
  font-size: 3rem;
  cursor: pointer;
  transition: .4s;
}

span:hover{
  color: #2d9999;
}

p{
    margin-top: 1rem;
    font-size: 1.8rem;
    color: rgb(67, 67, 67);
}

.progress-bar{
  width: 0%;
  height: 4px;
  background-color: #2d9999;
  position: absolute;
  animation: bar 4s linear;
}

@keyframes bar {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
