header{
    background-color: #1a1a1a;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #123c3c;
    box-shadow: 0px 0px 15px #0f3434;
}
.logo{
    font-size: 2rem;
    color: white;
    cursor: pointer;
    transition: .4s;
}
.logo:hover {
    color: #2d9999;
}
.logo:hover span{
    color: white;
}

span{
    color: #2d9999;
    transition: .4s;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    display: inline-block;
    color: white;
    padding: 2rem;
    font-size: 2rem;
    transition: .4s;
}

a:hover{
    background-color: #2d9999;
}