<div class="container">
    <div class="title-form"><h1>Crie seu NFT</h1></div>
    <div class="form-container">
        <form (ngSubmit)="submit()" [formGroup]="nftForm" #formDir="ngForm">
            <div class="group">
                <label for="name">Nome:</label>
                <input type="text" [(ngModel)]="cardName" formControlName="name" placeholder="Nome do seu NFT">
                <div *ngIf="name.invalid && formDir.submitted" class="error">
                  <p>O nome é obrigatório</p>
                </div>
            </div>

            <div class="group">
                <label for="description">Descrição:</label>
                <textarea rows="4" formControlName="description" placeholder="Fale um pouco sobre ele..."></textarea>
            </div>

            <div class="group">
                <label for="name">Preço:</label>
                <input type="number" [(ngModel)]="cardPrice" formControlName="price" placeholder="Dê um preço">
            </div>

            <div class="group">
                <label for="qtd">Quantidade disponível:</label>
                <input type="number" [(ngModel)]="cardQtd" formControlName="qtd" placeholder="Quantidade disponível">
            </div>
            <div class="group">
              <label>Escolha a melhor foto:</label>
              <input type="file">
            </div>

            <div class="group">
              <button>Enviar</button>
            </div>
        </form>
        <div class="card-model">
            <div class="card">
                <div class="img-area"><img src="/assets/nft-1.jpg" alt=""></div>
                <h1 class="title">{{!cardName ? 'Nome do NFT' : cardName  }}</h1>
                <p class="price">Valor: {{!cardPrice ? 'R$' + 00.00 : cardPrice | currency: 'BRL'}}</p>
                <p class="qtd">Qtd: {{cardQtd >= 0 ? cardQtd : '-'}} disponíveis</p>
                <a href="">Ver mais</a>
            </div>
        </div>
    </div>

</div>
