.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #051c28;
    max-width: 1100px;
    margin: auto;
    padding: 0 5rem;
}
.title-main{
    text-align: center;
    font-size: 2.7rem;
    color: white;
    line-height: 6rem;
    background-color: #051c28;
    max-width: 1100px;
    margin: auto;
    font-weight: bold;
}

.actions-button{
    display: flex;
    gap: .5rem;
    justify-content: center;
    width: 100%;
}

button{
    padding: .5rem 2rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.comentarios-area{
    max-width: 500px;
    width: 100%;
    margin-top: 1.5rem;
}

.comments-nft-area h1{
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

.comment{
    display: flex;
    gap: 1rem;
    margin: 0 0 2rem 0;
}
.comment-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment-img img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100px;
}
.comment-details{
    display: flex;
    flex-direction: column;
}
.comment .comment-name{
    font-size: 1.2rem;
    color: #c0c0c0;
}
.comment .comment-text{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    height: 100%;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding-bottom: 1rem;
    margin-top: 2.2rem;
}
form h1{
    color: #2d9999;
    font-weight: normal;
}
.c-group{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    font-size: 1.7rem;
    color: rgb(190, 190, 190);
}

input, textarea{
    font-size: 1.6rem;
    padding: .5rem;
    outline: 0;
}

.c-button-area{
    display: flex;
    justify-content: center;
}

button{
    cursor: pointer;
}
.error{
    color: red;
}

.description-area{
    margin: 1rem 0;
    font-size: 2rem;
    color: rgb(190, 190, 190);
    text-align: center;
}

.time{
    color: #707070;
}

