<div class="container" *ngIf="nft">
    <div class="title-main">NFT</div>

    <div class="card">
        <div class="img-area"><img src="/assets/nft-1.jpg" alt=""></div>
        <h1 class="title">{{nft.name}}</h1>
        <p class="price">Valor: {{nft.price | currency: "BRL"}}</p>
        <p class="qtd">Qtd: {{nft.qtd}} disponíveis</p>
    </div>

    <div class="actions-button">
        <button>Alterar</button>
        <button (click)="deleteNft(nft)">Excluir</button>
    </div>

    <div class="comentarios-area">
        <div class="comments-nft-area">
            <h1>Comentários: (0)</h1>
            <div class="comments-nft" *ngIf="nft.comment.length; else noComments">
                <div class="comment">
                    <div class="comment-img"><img src="assets/foto-perfil-comentario.jfif" alt=""></div>
                    <div class="comment-details">
                        <div class="comment-name">NOME DA PESSOA</div>
                        <div class="comment-text">COMENTÁRIO DELA</div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            AQUI VAI UM FORMULÁRIO PARA A PESSOA COMENTAR
        </div>
    </div>
</div>
<ng-template #noComments>
    <h1>Sem comentários...</h1>
</ng-template>