<div class="container" *ngIf="nft">
    <app-title [title]="title"></app-title>

    <app-card [nft]="nft" [verMais]="false"></app-card>

    <div class="actions-button">
        <button routerLink="/editar/nft/{{nft.id}}">Alterar</button>
        <button (click)="deleteNft(nft)">Excluir</button>
    </div>

    <div class="description-area">{{nft.description}}</div>

    <div class="comentarios-area">
        <div class="comments-nft-area">
            <h1>Comentários: ({{nft.comment!.length}})</h1>
            <div class="comments-nft" *ngIf="nft.comment!.length; else noComments">
                <div class="comment" *ngFor="let comment of nft.comment">
                    <div class="comment-img"><img src="assets/foto-perfil-comentario.jfif" alt=""></div>
                    <div class="comment-details">
                        <div class="comment-name">{{comment.usuario}} - <span class="time">{{comment.date | date: 'dd/MM/YYYY'}} às {{comment.date | date: 'mediumTime'}}</span></div>
                        <div class="comment-text">{{comment.comentario}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <form (ngSubmit)="submitComment()" [formGroup]="commentForm" #formDir="ngForm">
                <h1>Deixe seu comentário</h1>
                <div class="c-group">
                    <label for="name">Nome: </label>
                    <input type="text" formControlName="usuario" placeholder="Digite seu nome">
                    <div *ngIf="usuario!.invalid && formDir.submitted">
                        <p class="error">Esse campo é obrigatório</p>
                    </div>

                </div>

                <div class="c-group">
                    <label for="mensagem">Comentário: </label>
                    <textarea rows="4" formControlName="comentario" placeholder="Deixe seu comentário"></textarea>
                    <div *ngIf="comentario!.invalid && formDir.submitted">
                        <p class="error">Esse campo é obrigatório</p>
                    </div>
                </div>
                <div class="c-button-area">
                    <button>Comentar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<ng-template #noComments>
    <h1>Sem comentários...</h1>
</ng-template>
