<div class="card bg-gray-50 mt-4 border-round-lg shadow-2 m-auto" [ngStyle]="{maxWidth: '1100px'}">

    <form [formGroup]="signUpForm" (ngSubmit)="submit()">
        <div class="flex flex-column">
            <div class="w-full flex flex-column align-items-center justify-content-center gap-3 py-5">
                <div class="flex flex-wrap justify-content-center align-items-center gap-2">
                    <label class="w-8rem">Email</label>
                    <input pInputText formControlName="email" type="text" class="w-12rem" />
                </div>
                <div class="flex flex-wrap justify-content-center align-items-center gap-2">
                    <label class="w-8rem">Username</label>
                    <input pInputText formControlName="username" type="text" class="w-12rem" />
                </div>
                <div class="flex flex-wrap justify-content-center align-items-center gap-2">
                    <label class="w-8rem">Senha</label>
                    <input pInputText formControlName="senha" type="password" class="w-12rem" />
                </div>
                <div class="flex flex-wrap justify-content-center align-items-center gap-2">
                    <label class="w-8rem">Confirma senha</label>
                    <input pInputText formControlName="confirmaSenha" type="password" class="w-12rem" />
                </div>
                <p-button label="Criar conta" severity="success" type="submit" icon="pi pi-user-plus" styleClass="w-10rem mx-auto"></p-button>
            </div>
            <div class="w-full md:w-4 m-auto">
                <p-divider layout="horizontal" styleClass="flex" [align]="'center'"><b>OU</b></p-divider>
            </div>
            <div class="w-full md:w-5 m-auto flex align-items-center justify-content-center py-5">
                <p-button label="Logar" icon="pi pi-user" styleClass="p-button w-10rem" routerLink="/auth"></p-button>
            </div>
        </div>
    </form>
    
</div>