<div class="main-title"><h1>NFT's</h1></div>
<div class="cards">
    <div class="card">
        <div class="img-area"><img src="/assets/nft-1.jpg" alt=""></div>
        <h1 class="title">Nome NFT</h1>
        <p class="price">Valor: R$34,99</p>
        <p class="qtd">Qtd: 43 disponíveis</p>
        <a href="">Ver mais</a>
    </div>
    <div class="card">
        <div class="img-area"><img src="/assets/nft-1.jpg" alt=""></div>
        <h1 class="title">Nome NFT</h1>
        <p class="price">Valor: R$34,99</p>
        <p class="qtd">Qtd: 43 disponíveis</p>
        <a href="">Ver mais</a>
    </div>
    <div class="card">
        <div class="img-area"><img src="/assets/nft-1.jpg" alt=""></div>
        <h1 class="title">Nome NFT</h1>
        <p class="price">Valor: R$34,99</p>
        <p class="qtd">Qtd: 43 disponíveis</p>
        <a href="">Ver mais</a>
    </div>
    <div class="card">
        <div class="img-area"><img src="/assets/nft-1.jpg" alt=""></div>
        <h1 class="title">Nome NFT</h1>
        <p class="price">Valor: R$34,99</p>
        <p class="qtd">Qtd: 43 disponíveis</p>
        <a href="">Ver mais</a>
    </div>
    <div class="card">
        <div class="img-area"><img src="/assets/nft-1.jpg" alt=""></div>
        <h1 class="title">Nome NFT</h1>
        <p class="price">Valor: R$34,99</p>
        <p class="qtd">Qtd: 43 disponíveis</p>
        <a href="">Ver mais</a>
    </div>
    <div class="card">
        <div class="img-area"><img src="/assets/nft-1.jpg" alt=""></div>
        <h1 class="title">Nome NFT</h1>
        <p class="price">Valor: R$34,99</p>
        <p class="qtd">Qtd: 43 disponíveis</p>
        <a href="">Ver mais</a>
    </div>
    <div class="card">
        <div class="img-area"><img src="/assets/nft-1.jpg" alt=""></div>
        <h1 class="title">Nome NFT</h1>
        <p class="price">Valor: R$34,99</p>
        <p class="qtd">Qtd: 43 disponíveis</p>
        <a href="">Ver mais</a>
    </div>
    <div class="card">
        <div class="img-area"><img src="/assets/nft-1.jpg" alt=""></div>
        <h1 class="title">Nome NFT</h1>
        <p class="price">Valor: R$34,99</p>
        <p class="qtd">Qtd: 43 disponíveis</p>
        <a href="">Ver mais</a>
    </div>
    <div class="card">
        <div class="img-area"><img src="/assets/nft-1.jpg" alt=""></div>
        <h1 class="title">Nome NFT</h1>
        <p class="price">Valor: R$34,99</p>
        <p class="qtd">Qtd: 43 disponíveis</p>
        <a href="">Ver mais</a>
    </div>
    <div class="card">
        <div class="img-area"><img src="/assets/nft-1.jpg" alt=""></div>
        <h1 class="title">Nome NFT</h1>
        <p class="price">Valor: R$34,99</p>
        <p class="qtd">Qtd: 43 disponíveis</p>
        <a href="">Ver mais</a>
    </div>
    <div class="card">
        <div class="img-area"><img src="/assets/nft-1.jpg" alt=""></div>
        <h1 class="title">Nome NFT</h1>
        <p class="price">Valor: R$34,99</p>
        <p class="qtd">Qtd: 43 disponíveis</p>
        <a href="">Ver mais</a>
    </div>
</div>
