/* You can add global styles to this file, and also import other style files */

:root{
    --background-body: #5a5a5a;
    --text-color: white;
    --text-secondary-color: blue;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body{
    background-color: var(--background-body);
}

html{
    font-size: 62.5%;
}